.card {
    border-radius: 50px;
}

.img-thumbnial {
    width: 100%;
    height: 290px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.card-tab{
    border-radius: 10px;
}
.buttons {
    position: relative;
    top: 53px;
}
h4,strong{
    color:#46719f;
    font-size:22px;
}
.gallery-wrapper {
    text-align: center;
    margin-top: 20px;

}

.ngx-gallery {
    display: inline-block;
    margin-bottom: 20px;
    width: 500px;
    height: 400px;
    border-color: #1a4594;
}

textarea{
    width: 100%;
    padding: 20px;
}

.alert{
    background-color:#375a7f;
    padding-top: 30px;
}
h2{
    padding-top: 20px;
}
form-inline{
    margin-right: 145px;
}