<nav class="rtl navbar navbar-expand-md navbar-dark bg-dark">
  <a style="margin-top:-10px;color:#F4BB44;
font-family: 'Cairo', sans-serif;font-size:2.25rem;font-weight:bolder" class="navbar-brand" href="#"><i
      class="fa fa-heart" aria-hidden="true"></i>زواج<i class="fa fa-heart" aria-hidden="true"></i></a>

  <ul style="letter-spacing:1px;font-weight:bold;font-family: 'Almarai', sans-serif;font-size:1.2rem" class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="#">الرئيسية </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">بحث</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">تواصل</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">دردشة</a>
    </li>
  </ul>
  <form #loginform="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="post()">
    <input #username="ngModel" class="form-control mr-sm-2" type="text" placeholder="إسم المشترك" name="username" name="username" [(ngModel)]="model.username" required>
    <input #password="ngModel" class="form-control mr-sm-2" type="password" placeholder="كلمة السر" name="password" [(ngModel)]="model.password" required>
    <button [disabled]="loginform.invalid" style="font-weight:bold;font-family: 'Cairo', sans-serif;font-size:1.0rem" class="btn btn-secondary my-2 my-sm-0"
      type="submit">تفضل
      بالدخول</button>
  </form>
</nav>

