.nav-link:hover,
.nav-link:focus {
    text-decoration: none;
    color: #F4BB44 !important;
}

.nav-link {
    color: white !important;
}

.btn-secondary:hover {
    text-decoration: none;
    color: black !important;
    background: #F4BB44 !important;
}


.ng-touched:not(form) {
    border: 2px solid #c2181e;
}

.ng-valid:not(form) {
    border: 2px solid #18c21b;
}