.nav-link:hover,
.nav-link:focus {
    text-decoration: none;
    color: #fff !important;
}

.ng-touched:not(form) {
    border: 2px solid #c2181e;
}

.ng-valid:not(form) {
    border: 2px solid #18c21b;
}